
.notify#notify
    span Miễn phí vận chuyển cho đơn hàng trên 500k
.home-Layout
    .header
        .hidden-nav
            label.menu-icon(for='nav_mobile-input')
                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512')
                    path(d='M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z')
            input#nav_mobile-input.nav-input(type='checkbox' name='')
            label.nav-overlay(for='nav_mobile-input')
            nav.nav-mobile
                label.nav-close(for='nav_mobile-input')
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512')
                        path(d='M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm79 143c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z')
                ul.nav_mobile-list
                    li
                        a.nav_mobile-link(href='/') Home
                    li
                        a.nav_mobile-link(href='/products') Shop
                    li
                        a.nav_mobile-link(href='') Signature
                    li
                        a.nav_mobile-link(href='https://shopee.vn/') Shoppe
                    li
                        a.nav_mobile-link(href='/cart') Cart
        .header_upper
            a(href='/')
                img.header_logo(src='https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.15752-9/307853364_598510478719925_2958582378382186153_n.png?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_ohc=avxTW-TxJlEAX_JfAdN&_nc_ht=scontent.fsgn4-1.fna&oh=03_AdSEyoN4nkmMfgVHq5WISUAoF-uMPgqamw5lEhQRIsPukA&oe=63875774' alt='')

            .hidden_header_login-cart
                .hidden-header_login
                    if user
                        p.login-title=`Hello ${user.firstname} ${user.lastname}!`
                        a(href='/logout') <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96C43 32 0 75 0 128V384c0 53 43 96 96 96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H96c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32h64zM504.5 273.4c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22v72H192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32H320v72c0 9.6 5.7 18.2 14.5 22s19 2 26-4.6l144-136z"/></svg>Logout
                    else
                        .header_login
                            .header_login_login-icon
                                i.bi.bi-box-arrow-in-right 
                                a.login
                                    a(href='/login') Đăng nhập /
                                    a(href='/register') Đăng kí
                                .header_login_login-text
                .hidden-header_cart
                    .cart-icon
                        a(href='')
                            i.bi.bi-bag-plus
                            span Giỏ hàng
                    
            .header_search-box
                form.header_search-box_container
                    input.header_input(type='text' placeholder='Tìm kiếm sản phẩm...')
                    button.header_input(type='submit')
                        i.bi.bi-search
            .header_hotline
                i.bi.bi-telephone-plus-fill
                span(style='color  :black;font-size: 16px;') Hotline:
                span(style='font-size: 16px;')  0123456789
        // nav
        .header-lower
            #i-nav.navbar
                .nav
                    nav
                        ul
                            li
                                a.nav-item(href='/') HOME
                            li
                                a.nav-item(href='/products') SHOP
                                ul
                                    li
                                        a.dropdown-item(href='/products/tops') TOPS
                                    li
                                        a.dropdown-item(href='/products/bottom') BOTTOMS
                                    li
                                        a.dropdown-item(href='/products/outerwear') OUTERWEARS
                            li
                                a.nav-item(href='#') SIGNATURE
                            li
                                a.nav-item(href='https://shopee.vn/') KÊNH SHOPPE
                            li
                                a.nav-item(href='#') KIỂM TRA ĐƠN HÀNG
                                    i.bi.bi-check2-circle
                .header_login-cart
                    .header_login
                        if user
                            .dropdown-login
                            span.login-icon                      
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M272 304h-96C78.8 304 0 382.8 0 480c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32C448 382.8 369.2 304 272 304zM48.99 464C56.89 400.9 110.8 352 176 352h96c65.16 0 119.1 48.95 127 112H48.99zM224 256c70.69 0 128-57.31 128-128c0-70.69-57.31-128-128-128S96 57.31 96 128C96 198.7 153.3 256 224 256zM224 48c44.11 0 80 35.89 80 80c0 44.11-35.89 80-80 80S144 172.1 144 128C144 83.89 179.9 48 224 48z"/></svg>
                            a.dropbtn(onmouseover='myFunction1()' onmouseout='')=`Hello: ${user.lastname}!`
                            #myDropdown1.dropdown-login-content
                                a(href='/profile')
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg> Profile
                                a(href='/logout')
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96C43 32 0 75 0 128V384c0 53 43 96 96 96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H96c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32h64zM504.5 273.4c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22v72H192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32H320v72c0 9.6 5.7 18.2 14.5 22s19 2 26-4.6l144-136z"/></svg> Logout
                        else
                            .header_login_login-icon
                                i.bi.bi-box-arrow-in-right
                                a.login(href='/login')
                                    a(style='font-size: 16px;' href='/login') Đăng nhập /
                                    a(style='font-size: 16px;' href='/register')  Đăng ký
                                .header_login_login-text
                    .header_cart
                        .header-cart-container
                            a(href='/cart')
                                i.bi.bi-cart-plus
                                span(style='font-size: 14px;') Giỏ Hàng
                        .cart-window.hidden
                            h2.shopping-cart-title Shopping Cart
                            .cart_over-wrapper
                                //- .cart-wrapper
                                //-     .mini-cart_items
                                //-         img.cart-item_img(src='https://product.hstatic.net/200000259629/product/artboard_3_copy_5_2x-100_1a427f812af040b08088a2b712b2797a_grande.jpg' alt='')
                                //-         .mini-cart_detail
                                //-             .details
                                //-             h6.cart-items-name Test Item
                                //-             p.cart_price-quantity-size
                                //-                 span.cart-items-price 12000
                                //-                 span.cart-items-quantity Quantity : 2
                                //-                 span.cart-items-size  Size : S
                                //-     .mini-cart_cancel
                                //-         svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 320 512')
                                //-         // ! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc.
                                //-         path(d='M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z')
                                //-     .mini-cart_items
                                //-         img.cart-item_img(src='https://product.hstatic.net/200000259629/product/artboard_3_copy_5_2x-100_1a427f812af040b08088a2b712b2797a_grande.jpg' alt='')
                                //-         .mini-cart_detail
                                //-             .details
                                //-             h3.cart-items-name Test Item
                                //-             p.cart_price-quantity-size
                                //-                 span.cart-items-price 12000
                                //-                 span.cart-items-quantity Quantity : 2
                                //-                 span.cart-items-size  Size : S
                                //-     .mini-cart_cancel
                                //-         svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 320 512')
                                //-         // ! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc.
                                //-         path(d='M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z')
                            .subtotal
                                
                            .mini-cart-button 
                                a.checkout-btn(href="/payment") Checkout
                                a.update-mini-cart(onclick="updateMiniCart()") Update
                                a.view-cart-btn(href="/cart")   View Cart
                               

script.
    if (document.readyState == "loading") {
    document.addEventListener("DOMContentLoaded", ready);
    } else {
    ready();
    }   
    function ready() {
    updateMiniCart();
    const update = document.querySelector('.update-mini-cart')
    update.addEventListener("click", () => {
    updateMiniCart();
    })

    }
    class LocalCart1 {
    static key = "cartItems";
    static getLocalCartItems() {
    let cartMap = new Map();
    const cart = localStorage.getItem(LocalCart1.key);
    if (cart === null || cart.length === 0) return cartMap;
  
    return new Map(Object.entries(JSON.parse(cart)));
        }
    }
    
    const cartIcon =  document.querySelector('.header-cart-container');
    const cartWindow = document.querySelector('.cart-window');
    
    cartWindow.inWindow = 0;
        cartIcon.addEventListener('mouseover', () => {
            if(cartWindow.classList.contains('hidden')){
                cartWindow.classList.remove('hidden');
            }
        } )
        cartIcon.addEventListener('mouseleave', () => {
            setTimeout(() => {
                if(cartWindow.inWindow ==0 ) {

                cartWindow.classList.add('hidden');
                }
            },500)
        })
        cartWindow.addEventListener('mouseover', () => {
            cartWindow.inWindow = 1;
        })
        cartWindow.addEventListener('mouseleave', () => {
        cartWindow.inWindow = 0;
        cartWindow.classList.add('hidden')
        })


        function updateMiniCart() {
        const miniCartContainer = document.querySelector(".cart_over-wrapper");
        miniCartContainer.innerHTML = "";
        const items =LocalCart1.getLocalCartItems('cartItems')
      
        if (items === null) return;
        let count = 0;
        let total = 0;   
        for (const [key, value] of items.entries()) {
        const miniCart = document.createElement("div");
        miniCart.classList.add("cart-wrapper");
        let totalPrice = value.price * value.quantity;
        count += value.quantity;
        total += totalPrice;
        miniCart.innerHTML =`
        <div class="cart-wrapper">
            <div class="mini-cart_items"><img class="cart-item_img" src="${value.img}" alt="" />
                <div class="mini-cart_detail">
                    <div class="details">
                    <h6 class="cart-items-name">${value.name}</h6>
                    <p class="cart_price-quantity-size"><span class="cart-items-price">${value.price}</span><span class="cart-items-quantity">Quantity : ${value.quantity}</span><span class="cart-items-size"> Size : ${value.size}</span></p>
                    </div>
                </div>
            </div>
            <div class="mini-cart_cancel"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512"></svg><!-- ! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc.-->
                <path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"></path>
            </div>
        </div>
        `
        miniCartContainer.append(miniCart)
        }

        if (count >= 0) {
        const miniCartIcon = document.querySelector('.bi-cart-plus')
        const subtotal = document.querySelector(".subtotal");
        subtotal.innerHTML = total+"đ";
        
        miniCartIcon.classList.add('none-empty') 
        let root = document.querySelector(':root')
      
        root.style.setProperty('--after-content' , `"${count}"`)
        
        }
        else {
            miniCartIcon.classList.remove('none-empty')
        }
        }
       
