extends base

block scripts
  script(src='/js/products.js')
  script(src="/js/cart.js") 


block content

  
  .product-container(data-id=`${product.id}`)
    .product-gallery
      .mini-gallary
        img(src=`${product.thumbnail}` alt='' onclick='changeImg(this)')
        img(src=`${product.thumbnailAfter}` alt='' onclick='changeImg(this)')
      .main-gallary
        img#I-gallaryZome.img-thumbnail(src=`${product.thumbnail}` alt='')
    .product-detail
      .detail-title
        h1.title-product-name=product.productName
      .detail-price
        p.price-product=product.price

          sup &#x20AB;
      .detail-size
        input#S-size(type='radio' value='S' name='size')
        label.sizeS(for='S-size') S
        input#M-size(type='radio' value='M' name='size')
        label.sizeM(for='M-size') M
        input#L-size(type='radio' value='L' name='size')
        label.sizeL(for='L-size') L
        input#XL-size(type='radio' value='XL' name='size')
        label.sizeXL(for='XL-size') XL
      .detail-quantity
        button#I-subtract.subtract-btn(type='button' onclick='subBtn(1)') -
        input#I-print-quantity.print-quantity(type='number' name='' value='1')
        button#I-add.add-btn(type='button' onclick='addBtn(5)') +
      .add-to-cart
        button.add-cart-btn(onclick='showcart') Thêm vào giỏ
      .detail-description
        h2 Mô tả:
        span=product.description
  .product-related
    h1.related-title ~ Sản phẩm liên quan ~
    .related-list
     each diffProduct in listDiffProduct
      a(href=`/product/${diffProduct.id}`)
         .related-1
           img.related-image(src=`${diffProduct.thumbnail}` alt='')
           img.related-imageAfter(src=`${diffProduct.thumbnailAfter}` alt='')
           h3.related-name=diffProduct.productName
           p.related-price=diffProduct.price
             |
             sup &#x20AB;
  